.main {
    width: 90%;
    margin:auto;    
    margin-top: 20px;
}

.main-balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #C3CFD9;
}


.description {
    font-weight: 300;
    font-size: 12px;    
}

.amount {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.btn{
    padding: 10px;
    background-color: #6458F5;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}