.update-form {    
    width: 40%;
    margin: auto;
}

.input-main, .btn-main {
    display: flex;    
    justify-content: center;
}

.update-input {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: #B8C4CE;
    color: #B8C4CE;
}



.btn {
    padding: 10px;
    border: 1px solid #7469F6;
    color: #7469F6;
    background-color: white;
    width: 150px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

@media screen and (max-width: 450px){
    .input-main{
       flex-direction: column;
    }
}